.resident
{
    background-color: #072226;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.resident:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: transfom .5s;
}
.resident_photo
{
    position: relative;
}
.resident_status
{
    background-color: #072226;
    position: absolute;
    top: 10%;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.resident_circle
{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: gray;
}
.Alive
{
    background-color: #04A105;
}
.Dead
{
    background-color: red;
}
.resident_name
{
    text-align: center;
    margin: 15px 0;
}
.resident hr
{
    border: 1px solid rgba(128, 128, 128, 0.301);
    width: 85%;
    margin: 0 auto;
}
.resident_list
{
    padding: 15px;
}
.resident_item
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.resident_item span:first-child
{
    padding-left: 20px;
    color: grey;
}